h1{
    display: flex;
    justify-content: center;
    color: blue;
}

label{
    color: green;
    margin: 20px;
}

input{
    color: green;
    margin: 20px;
}

#center{
    display: flex;
    justify-content: center;
}

*{
    font-family: 'Open Sans', sans-serif;
}

div{
    display: flex;
    justify-content: center;
    background-color: aqua;
}